ROS_DISTRO=noetic
ROS1_WS=${HOME}/SAGE_MA_Exploration/ros1_ws
DRONE_NUM=2
SCENARIO_CONFIG=${HOME}/SAGE_MA_Exploration/deployment/config/scenarios/office.yaml
USE_LEARNED_UTILITY=false
MODEL_PATH=
MAX_VEL=3.0
MAX_ACC=2.5
OBSTACLE_INFLATION=0.05

